body {
    background-image: url(http://cdn.pcwallart.com/images/gradient-background-wallpaper-1.jpg);
    color: blue;
    background-size: cover;
}
h1 {
    color: white;
    font-size: 30pt;
    text-align:  center;
}

p {
    border-style: solid;
    text-align: center;
    border-width: 10px;
    color: white;
    border-color: white;
}

#column1 {
    height: 500px;
    background-color: grey;
    margin: 4%;
}
#column2 {
    height: 500px;
    background-color: grey;
    margin: 4%;
}
#column3 {
    height: 500px;
    background-color: grey;
    margin: 4%;
}

#in1 {
    height: 100%;
    font-size: 20em;
    width: 100%;
    background-color: transparent;
    text-align: center;
    border-style: none;
    border: none;
}
#in2 {
    height: 100%;
    font-size: 20em;
    width: 100%;
    background-color: transparent;
    text-align: center;
    border-style: none;
    border: none;
}
#in3 {
    height: 100%;
    font-size: 20em;
    width: 100%;
    background-color: transparent;
    text-align: center;
    border-style: none;
    border: none;
}
#divButton {
    text-align: center;
}